[user]
	name = jessabean
	email = jessica.avison@gmail.com
[alias]
	co = checkout
	ci = commit
	br = branch
	df = diff
	st = status
	x = log --graph --pretty=format:'%an: %s - %Cred%h%Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
	track = !git-track

[color]
  [color]
    branch = auto
    diff = auto
    status = auto
    interactive = auto
  [color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
  [color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
  [color "status"]
    added = yellow
    changed = green
    untracked = cyan