<div class="blank-state">
  <h2>Create your first idea!</h2>
  <p>Creating ideas is fun and easy. You can upload photos and add comments.</p>
  <div><%= link_to "Create a new idea", new_idea_path, :class => "btn btn-primary" %></div>
</div>