
<div class="page-content narrow">
  <header class="page-header">
    <h1>New idea</h1>
    
    <ul class="toolbar">
      <li><%= link_to 'Back', ideas_path %></li>
    </ul>
  </header>

  <%= render 'form' %>
</div>
