// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#app-header {
  background: #333;
  margin-bottom: 40px;
  padding: 10px 0;
}

.logo {
  background: url(app_logo.gif) 0 0 no-repeat;
  display: inline-block;
  height: 47px;
  text-indent: -9999px;
  width: 215px;
}

.page-content {
  min-height: 400px;
}

.page-header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  overflow: hidden;
}

.toolbar {
  float: right;
  padding-top: 18px;
}

// Blank State

.blank-state {
  @include rounded(4px);
  background: $lightest_gray url(cloud_up.png) 20px 20px no-repeat;
  margin: 0 auto;
  min-height: 200px;
  padding: 20px 20px 20px 190px;
  width: 600px;
}