// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";

@import "base/reset";
@import "base/structure";
@import "base/global";

@import "components/nav";
@import "components/forms";
@import "components/buttons";
@import "components/modules";


#app-header {
  background: #333;
  margin-bottom: 40px;
  padding: 10px 0;
}

.logo {
  background: url(app_logo.gif) 0 0 no-repeat;
  display: inline-block;
  height: 47px;
  text-indent: -9999px;
  width: 215px;
}

.page-content {
  min-height: 400px;
}

.page-header {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

.toolbar {
  float: right;
  padding-top: 18px;
}

